<h1> Hello  People of the World </h1>
<h2> Welcome to the life plan Platform</h2>


<%= link_to 'Plan 1', plan1_ways_path %>

<%= link_to 'Plan 2', plan2_ways_path %>

<%= link_to 'Plan 3', plan3_ways_path %>

